---
source: hackerone
dataset: elamaran619/hackerone_disclosed_reports
h1_id: '1812705'
original_report_id: '1812705'
title: Bypassing creation of  API tokens without email verification
weakness: Improper Authentication - Generic
team_handle: cloudflare
created_at: '2022-12-20T15:14:30.408Z'
disclosed_at: '2023-03-27T12:39:34.704Z'
has_bounty: true
visibility: no-content
substate: resolved
vote_count: 13
asset_identifier: dash.cloudflare.com
asset_type: URL
max_severity: critical
tags:
- hackerone
- improper-authentication-generic
---

# Bypassing creation of  API tokens without email verification

## Metadata

- HackerOne Report ID: 1812705
- Weakness: Improper Authentication - Generic
- Program: cloudflare
- Disclosed At: 2023-03-27T12:39:34.704Z
- Has Bounty: Yes
- Visibility: no-content
- Substate: resolved

## Original Report



## Extracted Security Notes

### Likely Vulnerability Class

*Leave this section for future enrichment.*

### Likely Root Cause

*Leave this section for future enrichment.*

### Potential Impact

*Leave this section for future enrichment.*

### Defensive Test Cases

*Leave this section for future enrichment.*

### Remediation Ideas

*Leave this section for future enrichment.*
