---
source: hackerone
dataset: elamaran619/hackerone_disclosed_reports
h1_id: '619578'
original_report_id: '619578'
title: Rate Limit workaround in the message of the phone number verification
weakness: Improper Restriction of Authentication Attempts
team_handle: unikrn
created_at: '2019-06-19T05:57:58.933Z'
disclosed_at: '2019-07-26T13:50:44.187Z'
has_bounty: true
visibility: no-content
substate: resolved
vote_count: 5
asset_identifier: unikoingold.com
asset_type: URL
max_severity: critical
tags:
- hackerone
- improper-restriction-of-authentication-attempts
---

# Rate Limit workaround in the message of the phone number verification

## Metadata

- HackerOne Report ID: 619578
- Weakness: Improper Restriction of Authentication Attempts
- Program: unikrn
- Disclosed At: 2019-07-26T13:50:44.187Z
- Has Bounty: Yes
- Visibility: no-content
- Substate: resolved

## Original Report



## Extracted Security Notes

### Likely Vulnerability Class

*Leave this section for future enrichment.*

### Likely Root Cause

*Leave this section for future enrichment.*

### Potential Impact

*Leave this section for future enrichment.*

### Defensive Test Cases

*Leave this section for future enrichment.*

### Remediation Ideas

*Leave this section for future enrichment.*
